.Weather {
    border: 1px solid rgb(218, 221, 225);
    color: rgb(135, 135, 135);
    padding: 16px;
    margin: 30px auto;
    border-radius: 4px;
    max-width: 800px;
}



.Weather h1 {
    font-size: 24px;
    font-weight: 100px;
    line-height: 29px;
    margin: 20px 0px 0px 0px;
}

.Weather img {
    height: 64px;
    margin-right:10px;
}

.Weather .degree {
    color: rgb(33, 33, 33);
    font-size:64px;
    line-height: 64px;
    font-weight: 400;
}

.Weather .units{
    color: rgb (33,33,33);
    font-size: 16px;
    font-weight:400;
    position: relative;
    top:-34px;
    line-height: 1;
}